.section-divider {
	border-bottom: 1px solid #000000;
	text-align: center;
}

#sheet {
	margin: 5px;
	border-collapse: collapse;
	width: 100%;
	background-color: white;
}

#sheet table {
	text-align: left;
}

#sheet tr {
	text-transform: capitalize;
	padding: 5px;
}

#sheet th,
#sheet td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#sheet td {
	border-right: 1px solid black;
	width: 100%;
}

#sheet th {
	border-right: 1px solid black;
	border-left: 1px solid black;
}