.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    background-color: rgba(236, 235, 235, 0.76);
    z-index: 100;
}

.container {
    padding: 5px 10px;
}

.menu-options {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.menu-options:hover {
    background-color: rgba(0,0,0,0.2);
}